/* Color Theme Swatches in Hex */
.color-theme_45f21befe9cbc1c7f0c1074d114c160d-1-hex {
  color: #f21d44;
}
.color-theme_45f21befe9cbc1c7f0c1074d114c160d-2-hex {
  color: #1e2d59;
}
.color-theme_45f21befe9cbc1c7f0c1074d114c160d-3-hex {
  color: #1bbfaf;
}
.color-theme_45f21befe9cbc1c7f0c1074d114c160d-4-hex {
  color: #f2a516;
}
.color-theme_45f21befe9cbc1c7f0c1074d114c160d-5-hex {
  color: #f25d27;
}

/* Color Theme Swatches in RGBA */
.color-theme_45f21befe9cbc1c7f0c1074d114c160d-1-rgba {
  color: rgba(242, 29, 68, 1);
}
.color-theme_45f21befe9cbc1c7f0c1074d114c160d-2-rgba {
  color: rgba(30, 45, 89, 1);
}
.color-theme_45f21befe9cbc1c7f0c1074d114c160d-3-rgba {
  color: rgba(27, 191, 175, 1);
}
.color-theme_45f21befe9cbc1c7f0c1074d114c160d-4-rgba {
  color: rgba(242, 165, 22, 1);
}
.color-theme_45f21befe9cbc1c7f0c1074d114c160d-5-rgba {
  color: rgba(242, 93, 39, 1);
}

/* Color Theme Swatches in HSLA */
.color-theme_45f21befe9cbc1c7f0c1074d114c160d-1-hsla {
  color: hsla(349, 89, 53, 1);
}
.color-theme_45f21befe9cbc1c7f0c1074d114c160d-2-hsla {
  color: hsla(224, 49, 23, 1);
}
.color-theme_45f21befe9cbc1c7f0c1074d114c160d-3-hsla {
  color: hsla(174, 75, 42, 1);
}
.color-theme_45f21befe9cbc1c7f0c1074d114c160d-4-hsla {
  color: hsla(39, 89, 51, 1);
}
.color-theme_45f21befe9cbc1c7f0c1074d114c160d-5-hsla {
  color: hsla(15, 88, 55, 1);
}
